<html lang="en">
<head>
  <% include ../helpers/head %>
</head>

<body>
  <div class="page-header">
    <% include ../helpers/menu %>
  </div>

  <div class="container"></div>
  <% mediaItems.forEach(function(item) { %>
  <div class="card" style="width: 18rem;">
    <a href="<%= item.link "><img src="<%= item.image %>" class="card-img-top" alt="<%= item.alt %>"></a>
    <div class="card-body">
      <h5 class="card-title"><%= item.title %></h5>
      <p class="card-text"><%= item.content %></p>
      <p class="card-date"><%= item.date %></p>
    </div>
  </div>

  <%}); %>
  </div>

</body>

</html>